@media screen and (min-width: 300px) and (max-width: 900px) {
  .about {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
  }
}

@media screen and (min-width: 901px) {
  .about {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px 0px;
  }
}
