/* Single post */
.image-wrapper {
  height: 300px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100vw;
}

.post-wrapper {
  padding: 50px 0;
  max-width: 900px;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .image-wrapper {
    height: 500px;
  }
}
